Django==1.8.4
SQLAlchemy==1.0.4
django-admin-bootstrapped==2.5.4
django-bootstrap3==6.2.2
django-user-agents==0.3.0
django-wkhtmltopdf==2.0.3
django-simple-history==1.8.1
html5lib==1.0b8

git+https://github.com/chrisglass/xhtml2pdf.git
django-easy-pdf==0.1.0

reportlab>=2.7,<3
xhtml2pdf>=0.0.6

django-postgrespool==0.3.0
gunicorn==19.3.0
psycopg2==2.6
dj-database-url==0.3.0
whitenoise==1.0.6
